/*mobile version*/

.page {
    display: flex;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}


.contact {
    background-color: #cbf1ba33;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-contactpagina__inputelement {
    display: flex;
    text-align: center;
    margin: 15px 0px 15px 0px
}

.fx-col {
    flex-direction: column;
}




@media only screen and (min-width: 800px) {
}
