@{
    ViewData["Title"] = "Home Page";
}

<main class="page" style="background-color: #e1f5f4">
    <!-- Cookies-->
    <div class="gdpr-container">
        <h1 id="content-gpdr-consent-status"  ></h1>
        <div class="content-gdpr-not-chosen hide">
            <p>Om de inhoud te kunnen tonen zal er akkoord moeten worden gegaan met de voorwaarden. </p>
        </div>
        <div class="content-gdpr-accept hide">
            <script>
                document.getElementById("content-gpdr-consent-status").style.display = "none";
            </script>
        </div>
        <div class="content-gdpr-reject hide">
            <p>Door het afwijzen van de cookies kan de inhoud helaas niet getoond worden </p>
        </div>

        <section class="gdpr-consent hide">
            <div class="gdpr-consent__description">
                <p>
                    Deze website gebruikt cookies.
                    We gebruiken cookies om content te personaliseren, voor social media en het analyseren
                    van verkeer op de website, advertenties.
                </p>
            </div>
            <div class="gdpr-consent__choice">
                <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
                <button class="gdpr-consent__button--reject">Nee, misschien later</button>
            </div>
        </section>
    </div>

    


    <!-- Linkerkant -->
    <section class="personalia">
        <!--SLIDESHOW Foto's-->
        <div class="slideshow-container">
            <!-- Foto's -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="images/pee.png" style="width: 100%; height: auto;" alt="Profielfoto1">
                <div class="text1">Caption Text</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="images/it-er.png" style="width: 100%; height: auto;" alt="Profielfoto2">
                <div class="text2">Caption Two</div>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="images/pee.png" style="width: 100%; height: auto;" alt="Profielfoto3">
                <div class="text3">Caption Three</div>
            </div>
            <!-- Volgende and terug -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- Introductie -->
        <section class="profile-content__category--hidden-mobile">
            <h2 class="profile-content__category-title">Introductie</h2>
            <hr>
        </section>
        <section class="profile-content__element--hidden-mobile">
            <div class="profile-content__element-header"></div>
            <p class="profile-content__description">
                Gedreven ICT-student | Probleemoplosser | Sportliefhebber <br /> <br />
                Als ambitieuze ICT-student aan Windesheim heb ik een sterke passie voor technologie en het oplossen van complexe vraagstukken. Mijn analytische vaardigheden en gestructureerde aanpak stellen me in staat om technische problemen efficiënt te doorgronden en innovatieve oplossingen te bedenken. Naast mijn studie ben ik actief in sport, wat mijn doorzettingsvermogen en teamspirit versterkt. Ik ben leergierig, resultaatgericht en altijd op zoek naar manieren om mezelf verder te ontwikkelen binnen de dynamische wereld van ICT.
            </p>
        </section>

        <!-- Contact -->
        <section class="profile-content__category--hidden-mobile" align="left">
            <h2 class="profile-content__category-title">Contact</h2>
            <hr>
        </section>
        <address class="profile-content__element--hidden-mobile" align="left">
            <div class="profile-content__element-header"></div>
            <p class="profile-content__institute">'t Harde, the Netherlands</p>
            <p class="profile-content__institute"><a href="mailto:sietsedrent@gmail.com">sietsedrent@gmail.com</a></p>
            <p class="profile-content__institute"><a href="tel:+31645777013">+31 6 45777013</a></p>
            <p class="profile-content__institute"><a href="https://www.linkedin.com/in/sietse-drent-10a7b814b/" target="_blank">LinkedIn Profiel</a></p>
        </address>
    </section>

    <!-- Rechterkant -->
    <section class="profile">
        <section class="profile-content">
            <!-- Opleidingen -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Opleidingen</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">ICT</h3>
                    <p class="profile-content__period">Juli 2023 - Juni 2027</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Havo</h3>
                    <p class="profile-content__period">Juli 2018 - Juni 2023</p>
                </div>
                <p class="profile-content__institute">Lambert Franckens College, Elburg</p>
            </article>

            <!-- Werkervaring -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Werkervaring</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Orderpicker</h3>
                    <p class="profile-content__period">Jan 2025 - Feb 2025</p>
                </div>
                <p class="profile-content__institute">Uitgekookt, Kampen</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Customer Service Representative</h3>
                    <p class="profile-content__period">Juni 2024 - Jan 2025</p>
                </div>
                <p class="profile-content__institute">VitalAire, Zwolle</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Sales Representative</h3>
                    <p class="profile-content__period">April 2021 - Dec 2023</p>
                </div>
                <p class="profile-content__institute">Yource, Zwolle</p>
            </article>

            <!-- Certificaten -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Certificaten</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Cambridge</h3>
                </div>
                <p class="profile-content__institute">Niveau B2</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Delf</h3>
                </div>
                <p class="profile-content__institute">Niveau A1</p>
            </article>

            <!-- Skills -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Skills</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Programmeertalen</h3>
                </div>
                <p class="profile-content__institute">PHP, Java, C# (1 jaar ervaring)</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Querytalen</h3>
                </div>
                <p class="profile-content__institute">SQL (1 jaar ervaring)</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Opmaaktalen</h3>
                </div>
                <p class="profile-content__institute">CSS, HTML (1 jaar ervaring)</p>
            </article>
        </section>
    </section>
</main>
