@{
    ViewData["Title"] = "Home Page";
}

<main class="page" style="background-color: #e1f5f4">
    <!-- Linkerkant -->
    <section class="personalia">
        <!-- Foto -->
        <img class="person-logo" src="images/pee.png" style="width: 100%; height: auto;" alt="Profielfoto van Sietse Drent">
        <h1 class="person-name">Sietse Drent</h1>

        <!-- Introductie -->
        <section class="profile-content__category--hidden-mobile">
            <h2 class="profile-content__category-title">Introductie</h2>
            <hr>
        </section>
        <section class="profile-content__element--hidden-mobile">
            <div class="profile-content__element-header"></div>
            <p class="profile-content__description">
                Ik ben een gedreven en resultaatgerichte professional met [aantal] jaar ervaring in [jouw vakgebied/sector].
                Gedurende mijn carrière heb ik uitgebreide ervaring opgedaan in [specifieke vaardigheden of verantwoordelijkheden]
                en heb ik bewezen succesvol te zijn in het behalen van [concrete resultaten]. Mijn passie voor [specifiek aspect van je vakgebied]
                en mijn vermogen om snel nieuwe concepten te begrijpen, stellen me in staat om effectief samen te werken en bij te dragen aan het succes
                van het team en de organisatie. Ik ben op zoek naar een uitdagende functie waar ik mijn vaardigheden verder kan ontwikkelen en mijn ervaring
                kan inzetten om waarde te creëren.
            </p>
        </section>

        <!-- Contact -->
        <section class="profile-content__category--hidden-mobile" align="left">
            <h2 class="profile-content__category-title">Contact</h2>
            <hr>
        </section>
        <address class="profile-content__element--hidden-mobile" align="left">
            <div class="profile-content__element-header"></div>
            <p class="profile-content__institute">'t Harde, the Netherlands</p>
            <p class="profile-content__institute"><a href="mailto:sietsedrent@gmail.com">sietsedrent@gmail.com</a></p>
            <p class="profile-content__institute"><a href="tel:+31645777013">+31 6 45777013</a></p>
            <p class="profile-content__institute"><a href="https://www.linkedin.com/in/sietse-drent-10a7b814b/" target="_blank">LinkedIn Profiel</a></p>
        </address>
    </section>

    <!-- Rechterkant -->
    <section class="profile">
        <section class="profile-content">
            <!-- Opleidingen -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Opleidingen</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">ICT</h3>
                    <p class="profile-content__period">Juli 2023 - Juni 2027</p>
                </div>
                <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Havo</h3>
                    <p class="profile-content__period">Juli 2018 - Juni 2023</p>
                </div>
                <p class="profile-content__institute">Lambert Franckens College, Elburg</p>
            </article>

            <!-- Werkervaring -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Werkervaring</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Orderpicker</h3>
                    <p class="profile-content__period">Jan 2025 - Feb 2025</p>
                </div>
                <p class="profile-content__institute">Uitgekookt, Kampen</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Customer Service Representative</h3>
                    <p class="profile-content__period">Juni 2024 - Jan 2025</p>
                </div>
                <p class="profile-content__institute">VitalAire, Zwolle</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Sales Representative</h3>
                    <p class="profile-content__period">April 2021 - Dec 2023</p>
                </div>
                <p class="profile-content__institute">Yource, Zwolle</p>
            </article>

            <!-- Certificaten -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Certificaten</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Cambridge</h3>
                </div>
                <p class="profile-content__institute">Niveau B2</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Delf</h3>
                </div>
                <p class="profile-content__institute">Niveau A1</p>
            </article>

            <!-- Skills -->
            <section class="profile-content__category">
                <h2 class="profile-content__category-title">Skills</h2>
                <hr>
            </section>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Programmeertalen</h3>
                </div>
                <p class="profile-content__institute">PHP, Java, C# (1 jaar ervaring)</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Querytalen</h3>
                </div>
                <p class="profile-content__institute">SQL (1 jaar ervaring)</p>
            </article>
            <article class="profile-content__element">
                <div class="profile-content__element-header">
                    <h3 class="profile-content__title">Opmaaktalen</h3>
                </div>
                <p class="profile-content__institute">CSS, HTML (1 jaar ervaring)</p>
            </article>
        </section>
    </section>
</main>
