@model Contactform
@{
    ViewData["Title"] = "Contactpagina";
}

<div class="page">
    <h1> Sietse Drent</h1>
    <section class="contact">


        <p>@ViewBag.Message</p>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <form method="post" class="form-contactpagina">
            <h2>Contact</h2>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="firstname">Voornaam: </label>
                <input type="text" asp-for="FirstName" name="firstname" id="firstname" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="lastname">Achternaam: </label>
                <input type="text" asp-for="LastName" name="lastname" id="lastname" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">E-mailadres: </label>
                <input type="email" asp-for="Email" name="email" id="email" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="phone">Telefoonnummer: </label>
                <input type="tel" asp-for="Phone" name="phone" id="phone" required>
            </div>
           
                
            <div class="form-contactpagina__inputelement fx-col">
                <label for="lastname">Onderwerp: </label>
                <input type="text" asp-for="Subject" name="subject" id="subject" required>
            </div>
            <div class="form-contactpagina__inputelement fx-col" >
                <label for="lastname">Beschrijving: </label>
                <input type="text" asp-for="Description" name="description" id="wompwmp" rows="15" cols="25" placeholder="This is the default text" required>
            </div>

            <div class="g-recaptcha" data-sitekey="6LdpItoqAAAAADZZQ9mQv_ZmzrtxR-RAHEOBXqJz"></div>


            <div class="form-contactpagina__inputelement">
                <input type="reset" value="Reset">
                <input type="submit" value="Verstuur!">
            </div>


        </form>

    </section>
</div>
