@model Contactform
@{
    ViewData["Title"] = "Contactpagina";
}

<div class="page">
    <section class="contact-section">
        <section class="contact-intro">
            <h2 class="contact-title">Get in Touch</h2>
            <p class="contact-description">Sietse Drent.</p>
        </section>

        <p>@ViewBag.Message</p>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

        <form method="post" class="form-contactpagina">

            <div class="form-group-container">
                <div class="form-group">
                    <label for="firstname" class="form-label">Voornaam</label>
                    <input id="firstname" type="text" asp-for="FirstName" class="form-input" placeholder="Your first name" required>
                </div>

                <div class="form-group">
                    <label for="lastname" class="form-label">Achternaam</label>
                    <input id="lastname" type="text" asp-for="LastName" class="form-input" placeholder="Your last name" required>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">E-mailadres</label>
                    <input id="email" type="email" asp-for="Email" class="form-input" placeholder="Your email" maxlength="80" required>
                </div>

                <div class="form-group">
                    <label for="phone" class="form-label">Telefoonnummer</label>
                    <input id="phone" type="tel" asp-for="Phone" class="form-input" placeholder="Your phone number" required>
                </div>

                <div class="form-group">
                    <label for="subject" class="form-label">Onderwerp</label>
                    <input id="subject" type="text" asp-for="Subject" class="form-input" placeholder="Subject" maxlength="200" required>
                </div>

                <div class="form-group">
                    <label for="description" class="form-label">Beschrijving</label>
                    <textarea id="description" asp-for="Description" class="form-textarea" placeholder="Your message" maxlength="600" required></textarea>
                </div>
            </div>

            <section class="formreset">
                <div class="g-recaptcha" data-sitekey="6LdpItoqAAAAADZZQ9mQv_ZmzrtxR-RAHEOBXqJz"> </div>
                <button class="form-contactpagina__inputelement" type="reset"> Reset  </button>
            </section>
            <button class="form-submit" type="submit">Verstuur</button>
        </form>
    </section>
</div>

